
body{
	background-color:black;
	color:white;
}

h1{
	text-align:center;
	font-size:48px;
}

h2{
	font-size:32px;
}

p{
	font-size:24px;
	margin-left:15px;
}

a{
	color:green;
	text-decoration:none;
	font-size:20px;
	margin-left:30px;
}